nav {
height: 80px;
}

nav ul {

}
nav  ul li {
inset-block: none;
list-style-type: none;
width: 150px;
float: left;
text-align: center;
}

nav ul li a {
text-decoration: none;
color: black;
line-height: 80px;
text-align: center;
}

div p {
text-align: center;
color: black;
float: center;
}
body.she {background-image: url("FOOD.png");}
body {
padding: 0px;
margin: 0px;
}
